<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.de.rocket.app">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/rocket_logo"
        android:label="@string/rocket_name"
        android:roundIcon="@mipmap/rocket_logo"
        android:supportsRtl="true"
        android:theme="@style/RocketThemeStyle"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ue.activity.RocketActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ue.activity.RoxxActivity">
            <intent-filter>
                <!-- 隐式跳转的靶子 -->
                <action android:name="com.de.rocket.RoxxActivity" />
                <!-- 隐式跳转必须要重写这个category -->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>