<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.yhd.mediaplayer">

    <!--播放流网络媒体需要-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>